// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { font-family: sans-serif; }
h1 { color: blue; }
h2 { color: cyan; }
.alert {  font-weight: bold; font-style: italic; color: red; }