<h1>Reviews</h1>

<% @reviews.each do |review| %>
<p>
  <%= review.text %>
  <br>
  <% if !review.author.blank? %>
    by <%= review.author %>
    <br>
  <% end %>
  Posted <%= time_ago_in_words(review.created_at) %> ago.
<% end %>
  
  <h2><%= link_to "New review", new_review_path %></h2>
  
