<h1>New review</h1>

<%= form_for(@review, action: '/reviews/index', method: 'post') do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :text, placeholder: "Review..." %>
  </div>
  <div class="field">
    <%= f.text_field :author, placeholder: "Author..." %>      
  </div>
  <%= f.submit "Post review" %>
<% end %>

<p>
  <%= link_to "Back", root_url %>
